<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-background">
  <ion-fab right bottom *ngIf="accList.length > 0">
    <button ion-fab (click)="addTransaction()" color="gold">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-card color="primary">
    <ion-card-header>
      Accounts
    </ion-card-header>

    <ion-list *ngIf="accList.length > 0">
      <ion-item *ngFor="let acc of accList" color="dark">
        <ion-icon [name]="acc.type === 'checking' ? 'cash' : 'card'" item-start=""></ion-icon>
        <h2>{{'' + acc.id + acc.name + (acc.balance | currency)}}</h2>
        <p>{{acc.type}}</p>
      </ion-item>
    </ion-list>

    <button ion-button (click)="addAccount()" block large color="primary">Add An Account
    </button>

  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      Transaction History
    </ion-card-header>
  <ion-list *ngIf="transList.length > 0">
    <button ion-item *ngFor="let trans of transList" (click)="itemTapped($event, trans)" color="dark">
      <ion-icon [name]="trans.amount > 0 ? 'add' : 'remove'" item-start></ion-icon>
      <h2 ion-text>
        {{(trans.accountName) + '\t' + (trans.amount | currency)}}
      </h2>
      <p>{{trans.description}}</p>
      <ion-note item-end *ngIf="trans.category">
        {{trans.category.name}}
      </ion-note>
      <ion-note item-end>{{trans.date | date}}</ion-note>
    </button>
  </ion-card>



  <ion-card color="primary">
    <img src="assets/imgs/sample ad.png"/>
    <ion-card-content>
      <ion-card-title>
        Sponsor/Ad
      </ion-card-title>
    </ion-card-content>
  </ion-card>
