<!--
  Generated template for the EditTransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="edit">
    <p>Account: {{transaction.accountName}}</p>
    <p>Amount: {{transaction.amount | currency}}</p>
  </div>
  <form [formGroup]="transactionForm" (ngSubmit)="save()">
    <div *ngIf="!edit">
      <ion-list>
        <ion-item>
          <ion-label>Account</ion-label>
          <ion-select formControlName="account">
            <ion-option *ngFor="let a of accounts" [value]="a.id">{{a.name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list radio-group formControlName="type">
        <ion-list-header>Transaction Type</ion-list-header>
        <ion-item>
          <ion-label>Deposit</ion-label>
          <ion-radio value="0"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Withdraw</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
      </ion-list>
    </div>
    <ion-list>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="!edit">
        <ion-label floating>Amount</ion-label>
        <ion-input type="number" formControlName="amount"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Category</ion-label>
            <ion-select formControlName="category" [compareWith]="compareCat">
              <ion-option *ngFor="let cat of categories" [value]="cat">
                {{cat.name}}
              </ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-auto>
          <button style="float:right;" ion-button color="primary" (click)="addNewCategory()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button color="primary" [disabled]="!transactionForm.valid" type="submit" block large *ngIf="edit">Save
      Changes
    </button>
    <button ion-button color="primary" [disabled]="!transactionForm.valid" type="submit" block large *ngIf="!edit">Add
      Transaction
    </button>
  </form>
</ion-content>
