<!--
  Generated template for the EditTransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="edit">
    <p>Account: {{transaction.accountName}}</p>
    <p>Amount: {{transaction.amount | currency}}</p>
  </div>
  <div *ngIf="!edit">
    <ion-label>Account</ion-label>
    <ion-list radio-group [(ngModel)]="transaction.account">
      <ion-item *ngFor="let a of accounts">
        <ion-label>{{a.name}}</ion-label>
        <ion-radio [value]="a.id"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-label>Transaction Type</ion-label>
    <ion-list radio-group [(ngModel)]="withdraw">
      <ion-item>
        <ion-label>Deposit</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Withdraw</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea [(ngModel)]="transaction.description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>Amount</ion-label>
        <ion-input type="number" [(ngModel)]="amount"></ion-input>
      </ion-item>
    </ion-list>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select [(ngModel)]="transaction.category" [compareWith]="compareCat">
            <ion-option *ngFor="let cat of categories" [value]="cat">
              {{cat.name}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-auto>
        <button style="float:right;" ion-button color="primary" (click)="addNewCategory()">
          <ion-icon name="add">Add new</ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button color="primary" block large (click)="save()" *ngIf="edit">Save Changes</button>
  <button ion-button color="primary" block large (click)="save()" *ngIf="!edit">Add Transaction</button>
</ion-content>
